<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Listview - jQuery Mobile Demos</title>
	<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/jquery.mobile-1.4.4.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery.mobile-1.4.4.min.js"></script>
	<script src="js/gamescene.js"></script>
	<script src="js/angular.min.js"></script>
	<style id="custom-icon">
        .ui-icon-custom:after {
			background-image: url("../_assets/img/glyphish-icons/21-skull.png");
			background-position: 3px 3px;
			background-size: 70%;
		}
    </style>
    
    
    
    <script>
        

function setCookie(cname, cvalue) {
    var d = new Date();
    d.setTime(d.getTime() + (30*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}


function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
    }
    return "";
}

        
                    var app = angular.module('tescoApp', []);
                    //app.controller('TescoController', ['$http'], function($http){
                    app.controller('TescoController', function($http, $interval){
                    var tesco = this;
                            tesco.info = "yeah";
                            tesco.noOfItem = 5;
                            tesco.currentItem = 1;
                            
                            tesco.game = [];
                            var username = getCookie("username");
                            if(username !=""){
                                tesco.currentUser = username;
                                username = getCookie("username");
                                tesco.currentUser =  getCookie("userId");
                                
                            }else{
                                tesco.currentUser = "Tony";
                           setCookie("username","Tony")     
                                tesco.currentUser = 0;
                                setCookie("userId",0)     
                            }
                            
                            tesco.missionId = 0;
                            tesco.products = [];
                            tesco.sessionKey = "";
                            tesco.searchTerm = "";
                            /*Initialise Game*/

                            
/*
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/Game"

                            }).success(function(data){
                    tesco.game = data;
                    });
                      */

                            var urlRoot = 'https://secure.techfortesco.com/groceryapi/restservice.aspx?';
                            var jcb = '&JSONP=JSON_CALLBACK';
                            /*
                            $http.jsonp(urlRoot + 'command=LOGIN' + jcb + '&email=&password=&developerkey=0ujRTU8FlFnyfad11Ium&applicationkey=417361BD075D0FCFD502').success(function(data){
                    tesco.sessionKey = data.SessionKey;
                    });*/
                            tesco.add = function(data){
                            tesco.game.Quest.Missions.push(data);
                            };
                            tesco.output = function(){

                            console.log(tesco.game.Quest.Missions);
                            };
                            tesco.CheckIn = function(){
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/CheckIn/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            });
                            };
                            tesco.CheckOut = function(){
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/CheckOut/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            });
                            };
                            
                            tesco.reload = function(){
                                $.ajax({
                                    type: "POST",
                                    url:  "http://tescohack.apphb.com/api/Game",
                                    data: tesco.game,
                                    success: function(data){
                                          tesco.game = data;
                                           tesco.rebind();
                                    }
                                  });
                            }
                            
                            tesco.rebind = function(){
                                
                                var eng = tesco.game.Team.Characters[0].Engergy;
                                if(eng>=100){
                                    eng = 100;
                                }
                                if(eng<0){
                                    eng = 0;
                                }
                                $(".timebar-inner").css('width', eng + '%');
                            }
                            
                            
                     
                            tesco.SubmitScan = function(id){
                                tesco.missionId=id;
                               console.log(tesco.missionId );
                               console.log(tesco.currentUser);
                          $.ajax({
                                    type: "POST",
                                    url:  "http://tescohack.apphb.com/api/Scan/"+ tesco.missionId + "/" + tesco.currentUser,
                                    
                                    success: function(data){
                                          tesco.game = data;
                                        console.log(tesco.game);                              
                                    }
                                  });
                                  
                                  
        /*
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/Scan/" + tesco.missionId + "/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            }); */
                            };
                            tesco.apiCall = function(){

                            $http.jsonp(urlRoot + 'command=PRODUCTSEARCH' + jcb + '&searchtext=' + tesco.searchTerm + '&sessionkey=' + tesco.sessionKey + '&page=1&developerkey=0ujRTU8FlFnyfad11Ium&applicationkey=417361BD075D0FCFD502').success(function(data){
                            console.log(data);
                                    tesco.products = data.Products;
                            });
                            };
                            
                            $interval(function() {
                               tesco.reload();
                            }, 5000);
                    });       
                    
 
    
    </script>
    
    
</head>
<body ng-app="tescoApp" ng-controller="TescoController as Tesco">
	<div class="wrapper">

		<div class="row-head">
			<div class="row-head-character">
			</div>
			<div class="font-lobster row-head-score">
				SCORE: <span>1120</span>
			</div>
		</div>

		<div class="row-content">
			<div class="row-content-map">
				<img src="img/map.jpg" />
				<div class="star star-1"><img src="img/star.png" ng-click="Tesco.SubmitScan(1)" /></div>
				<div class="star star-2"><img src="img/star.png" ng-click="Tesco.SubmitScan(2)" /></div>
				<div class="star star-3"><img src="img/star.png" ng-click="Tesco.SubmitScan(3)"/></div>
				<div class="star star-4"><img src="img/star.png" ng-click="Tesco.SubmitScan(4)"/></div>
				<div class="star star-5"><img src="img/star.png" ng-click="Tesco.SubmitScan(5)" /></div>
			</div>
		</div>

		<div class="row-content-timebar">
			<div class="timebar">
				<div class="timebar-inner"></div>
			</div>
		</div>

		<button class="ui-btn ui-btn-b ui-shadow" ng-click="Tesco.SubmitScan()">SCAN</button>

		<div class="row-inventory">
			<div class="row-inventory-inner">
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
				<div class="row-inventory-item"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div data-role="footer" class="nav-glyphish-example" data-theme="a">
        <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
            <ul>
                <li><a href="questlist.html" class="js-btn-quest quest-icon" data-icon="custom">Quest List</a></li>
                <li><a href="gamestart.html" class="js-btn-game game-icon ui-btn-active" data-icon="custom" >Conquer</a></li>
                <li><a href="leaderboard.html" class="js-btn-leaderboard leaderboard-icon" data-icon="custom">Leaderboards</a></li>
            </ul>
        </div>
	</div>

</body>
</html>
