<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Listview - jQuery Mobile Demos</title>
	<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/jquery.mobile-1.4.4.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery.mobile-1.4.4.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/StrippedProds.js"></script>
	<style id="custom-icon">
        .ui-icon-custom:after {
			background-image: url("../_assets/img/glyphish-icons/21-skull.png");
			background-position: 3px 3px;
			background-size: 70%;
		}
    </style>
    
    <script>
        
                    var app = angular.module('tescoApp', []);
                    //app.controller('TescoController', ['$http'], function($http){
                    app.controller('TescoController', function($http){
                    var tesco = this;
                            tesco.info = "yeah";
                            tesco.game = [];
                            tesco.currentUser = "";
                            tesco.missionId = 0;
                            tesco.products = [];
                            tesco.questlist = [];
                            tesco.sessionKey = "";
                            tesco.searchTerm = "";
                            /*Initialise Game*/

                            tesco.products = products;

                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/Game"

                            }).success(function(data){
                    tesco.game = data;
                    console.log(tesco.game.Quest);
                    });
                      

                            var urlRoot = 'https://secure.techfortesco.com/groceryapi/restservice.aspx?';
                            var jcb = '&JSONP=JSON_CALLBACK';
                            /*
                            $http.jsonp(urlRoot + 'command=LOGIN' + jcb + '&email=&password=&developerkey=0ujRTU8FlFnyfad11Ium&applicationkey=417361BD075D0FCFD502').success(function(data){
                    tesco.sessionKey = data.SessionKey;
                    });*/
                            tesco.add = function(data){
                                tesco.game.Quest.Missions.push(data);
                            };
                            
                            tesco.addQuest = function(data){
                                tesco.game.Quest.Missions.push(data);
								$('#autocomplete-input').val('');
								$('#autocomplete-input').change();

                            };
                            
                            
                            tesco.output = function(){

                            console.log(tesco.game.Quest.Missions);
                            };
                            tesco.CheckIn = function(){
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/CheckIn/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            });
                            };
                            tesco.CheckOut = function(){
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/CheckOut/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            });
                            };
                            
                     
                            tesco.SubmitScan = function(){
                            $http({
                            method: "post",
                                    url: "http://tescohack.apphb.com/api/Scan/" + tesco.missionId + "/" + tesco.currentUser

                            }).success(function(data){
                            tesco.game = data;
                            });
                            };
                            tesco.apiCall = function(){

                            $http.jsonp(urlRoot + 'command=PRODUCTSEARCH' + jcb + '&searchtext=' + tesco.searchTerm + '&sessionkey=' + tesco.sessionKey + '&page=1&developerkey=0ujRTU8FlFnyfad11Ium&applicationkey=417361BD075D0FCFD502').success(function(data){
                            console.log(data);
                                    tesco.products = data.Products;
                            });
                            };
                    });        </script>
</head>
<body ng-app="tescoApp" ng-controller="TescoController as Tesco">
	<div class="wrapper">
		
		<!-- header -->
		<h1>Quest List</h1>

		<!-- Searchbox -->
		<div class="row-searchquest">

		<h3>Select My Quest</h3>
			<form class="ui-filterable">
				<input id="autocomplete-input" data-type="search" placeholder="Search fruits...">
			</form>
			<ul data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#autocomplete-input" data-inset="true" >
				<li ng-repeat="item in Tesco.products" ng-click="Tesco.addQuest(item)">
					<a href="#">
						<img src="tesco_img/{{item.Id}}.jpg" />
						<h2>{{item.Name}}</h2>
						<p>Score: {{item.Score}}</p>
					</a>
					<a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Info</a>
				</li>
			</ul>

		</div>

		<hr>
		<h3>My Quest List</h3>
		<!-- Selected Questlist -->
		<div class="row-questlist">

			
			<ul data-role="listview" data-split-icon="arrow-r" data-split-theme="a" data-inset="true">
				<li ng-repeat="item in Tesco.game.Quest.Missions"><a href="#">
					<img ng-src="tesco_img/{{item.Id}}.jpg"/>
					<h2>{{item.Name}}</h2>
					<p>Score: {{item.Score}}</p></a>
					<a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Info</a>
				</li>
			</ul>

			<!-- POPUP for -->
			<div data-role="popup" id="purchase" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
				<h3>Info (Per 100g)</h3>
				<div><label>Energy (kcal)</label><span>201</span></div>
				<div><label>Sugar (g)</label><span>2</span></div>
				<div><label>Fat (g)</label><span>1</span></div>
				<div><label>Fibre (g)</label><span>10</span></div>
				<div><label>Protein (g)</label><span>5.7</span></div>
				<a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Close</a>
			</div>

		</div>

	</div>


	<!-- Footer -->

	<div data-role="footer" class="nav-glyphish-example" data-theme="a">
        <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
            <ul>
                <li><a href="questlist.html" class="js-btn-quest quest-icon ui-btn-active" data-icon="custom">Quest List</a></li>
                <li><a href="gamestart.html" class="js-btn-game game-icon" data-icon="custom" >Conquer</a></li>
                <li><a href="leaderboard.html" class="js-btn-leaderboard leaderboard-icon" data-icon="custom">Leaderboards</a></li>
            </ul>
        </div>
	</div>

</body>
</html>
