h1{
	font-family: "Lobster";
	font-weight: 400;
}
img{
	max-width: 100%;
}
body{
	background: #EEF;
}
.wrapper{
	margin: 10px;

}

.ui-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.quest-icon:after {  background-color: rgba(0,0,0,.0) !important; background-image:  url("images/list.png") !important; background-size: 24px 22px; }
.game-icon:after {  background-color: rgba(0,0,0,.0) !important; background-image:  url("images/game.png")  !important; background-size: 24px 16px;  }
.leaderboard-icon:after { background-color: rgba(0,0,0,.0) !important; background-image:  url("images/leaderboard.png") !important;  background-size: 12px 26px; }

.check-btn{
	text-align: center;
}

.check-btn img{
	max-width: 80%;
}
